<div class="nav"  >
    <a href="airbnb.in"><img class="logo" src="assets/logo-transparen.png"></a>
    <!-- <a href="location">select your address</a> -->


    <div class="search-Bar">
        <form>
            <div class="loction-input">
                <label>Location</label>
                <input type="text" placeholder="Where are you going?">
            </div>
            <div>
                <label>Check in</label>
                <input type="text" placeholder="Add Date">
            </div>
            <div>
                <label>Check out</label>
                <input type="text" placeholder="Add Date">
            </div>
            <div>
                <label>Guest</label>
                <input type="text" placeholder="Add Guest">
            </div>
            <button type="submit"><mat-icon>search</mat-icon></button>
        </form>
    </div>
    <div class="insideNav">
        <!-- <a href="/contact">Contact</a>
        <a href="/about">About</a> -->
        <a href="profile" class="navlink">
            <span>
                <mat-icon>account_circle</mat-icon>profile
            </span></a>
    </div>
</div>