.registration{
    text-align: center;
    height: 100%;
    background: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.registration-Container{
    margin-top: 50px;
}
.headings{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #fc0101;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.mat-form-field {
    margin-left: 20px;
    margin-top: 20p;
}
.mat-label{
    text-align: center;
}
.container{
    width: 100%;
}
.email-container{
width: 100%;
}
.button{
    margin-top: 40px;
}