<div class="nav">
    <a href="airbnb.in"><img class="logo" src="assets/logo-transparen.png"></a>
    <!-- <a href="location">select your address</a> -->
    <div class="insideNav">
        <input type="text" placeholder="Find your place...">
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/register" class="navlink" [routerLink]="'/register'" routerLinkActive="selectedlink">Register</a>
        <a href="/login" class="navlink" [routerLink]="'/login'" routerLinkActive="selectedlink">Login </a>
        <a href="all" class="navlink"><span>
                <mat-icon>menu</mat-icon>
            </span></a>
    </div>

</div>