
.nav {
    overflow: hidden;
    // background-color:rgb(252, 215, 215);
  }
  
  .nav a {
    float: left;
    color: #f56969;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #f9bebe;
    color: black;
    border-radius: 20px;
  }
  
  .logo {
    height: 40px;
    width: 200px;
  }
  
  .nav input[type=text] {
    background: transparent;
    border-color: #f56969;
    width: 500px;
    float: left;
    color: #f56969;
    padding: 6px;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 80px;
    font-size: 17px;
  }
  
  a.navlink.selectedlink {
    color: #fc0101;
  }
  
  .insideNav {
    float: right;
    margin-top: 10px;
  
    color: #f56969;
  
  }