<div class="main" [ngStyle]="{backgroundImage:'url(./assets/banner.png)'}">
    <app-main-nav></app-main-nav>
    <div class="body">
        <div class="heading">
            <h1>Find your next stay </h1>
        </div>
        <div class="search-Bar">
            <form>
                <div class="loction-input">
                    <label>Location</label>
                    <input type="text" placeholder="Where are you going?">
                </div>
                <div>
                    <label>Check in</label>
                    <input type="text" placeholder="Add Date">
                </div>
                <div>
                    <label>Check out</label>
                    <input type="text" placeholder="Add Date">
                </div>
                <div>
                    <label>Guest</label>
                    <input type="text" placeholder="Add Guest">
                </div>
                <button type="submit"><img src="assets/search.png"></button>
            </form>
        </div>

    </div>
</div>