<div class="details-container">
    <app-navbar></app-navbar>
    <div class="place-details"  >
        <div class="place-title">
            <h1>{{placeDetail?.placeName}}</h1>
            <div class="row">
                <div>
                    <span><b>{{placeDetail?.rating}}<mat-icon>star</mat-icon></b></span>
                    
                    <span>{{placeDetail?.reviews}}reviews</span>
                </div>
                <div>
                    <p>Location:{{placeDetail?.Location}}</p>
                </div>
            </div>
        </div>
        <div class="image-gallery">
            <div class="gallery-img-1"><img src="assets/image-1.png"></div>
            <div><img src="assets/image-2.png"></div>
            <div><img src="assets/image-3.png"></div>
            <div><img src="assets/image-4.png"></div>
            <div><img src="assets/image-5.png"></div>

        </div>
        <div class="main-details">
            <h2>
                entire place hosted by {{placeDetail?.hostName}}
            </h2>
            <p>
                {{placeDetail?.rooms}}
            </p>
            <h4>{{placeDetail?.rent}} per day</h4>
        </div>
        <hr class="line-break">
        <form class="form">
            <div>
                <mat-label>check-in</mat-label>
                <input type="text" placeholder="Add Date">
            </div>
            <div>
                <mat-label>check-out</mat-label>
                <input type="text" placeholder="Add Date">
            </div>
            <div class="guest">
                <mat-label>total guests</mat-label>
                <input type="text" placeholder="ex: 5 guests">
            </div>
            <button mat-raised-button type="submit">Check Availability</button>
        </form>
        <ul class="details-list">
            <li><mat-icon>home</mat-icon>Entire Home <span>you will have the entire place for you</span></li>
            <li><mat-icon>stars</mat-icon>Enhanced Clean <span>commited to airbnb cleaing process</span></li>
            <li><mat-icon> location_on</mat-icon>Great Location <span>80% of people gave 5 star rating</span></li>
            <li><mat-icon>favorite</mat-icon>Great Check-In Experience <span>100% of guest experience rated 5 star</span></li>
        </ul>
        <hr class="line-break">
        <p class="place-description">
            The Island on Bolgoda is a three bedroom villa on an unique island on the Bolgoda lake.
Designed by famed architect Ulrik Plesner the villa Pays homage to iconic Srilankan architect Geoffrey Bawas design concepts.
The villa also has two members of staff on site. Meal options can be selected from the villa's menus or if dry rations are provided our staff can cater to your personal requirements.
        </p>
        <hr class="line-break">
        <div class="map">
            <h3>Location on Map</h3>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100542.03289240063!2d73.06920664107177!3d-0.640764099080758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24b59bd07e38ba65%3A0x49d017c16b9b5086!2sShangri-La&#39;s%20Villingili%20Resort%20%26%20Spa%2C%20Maldives!5e0!3m2!1sen!2sin!4v1659600350810!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <b>
                {{placeDetail?.placeName}}
            </b>
            <p>
                finding peace
            </p>
        </div>
        <hr class="line-break">
        <div class="host">
            <img src="assets/host.png" >
            <div>
                <h2>
                    Hosted by {{placeDetail?.hostName}}
                </h2>
                <p>
                    <span><mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon></span> 245 reviews , Response rate 100%
                </p>
            </div>
        </div>
        <a href="#" class="contact">contact host</a>
    </div>
</div>